{% extends "layout.html" %}
{% block title %}Add New Movie{% endblock %}
{% block content %}
    <h1 class="title">Add New Movie</h1>

    <form action="" method="post" name="movie_add">
      <div class="field">
        <label for="title" class="label">Title</label>
        <div class="control">
          <input type="text" name="title" class="input" required="required" value = "{{ values['title'] }}"/>
        </div>
      </div>

        <div class="field">
        <label for="director" class="label">Director</label>
        <div class="control">
          <input type="text" name="director" class="input" required="required" value = "{{ values['director'] }}"/>
        </div>
      </div>

      <div class="field">
        <label for="year" class="label">Year</label>
        <div class="control">
          <input type="number" name="year" class="input" min="{{ min_year }}" max="{{ max_year }}" value = "{{ values['year'] }}"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}